.duties {
  padding: 0 0 94px 0;
}
.duties__item {
  position: relative;
}
.duties__title {
  position: absolute;
  left: 0;
  bottom: 0;
  @include font (14px,700,1.14);
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  @extend %flexCenter;
  justify-content: center;
  color: $primary-white-color;
  background-color:$duty-title-bg-color;
}
.team {
  background-color: $team-bg-color;
}
.team__member {
  @include font (16px,500,1.19);
  text-align: center;
  margin-bottom: 10px;
}
.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $secondary-text-color;
  margin-bottom: 16px;
}
.duties__list,
.team__list {
  display: flex;
}
.team__item:not(:last-child),
.duties__item:not(:last-child) {
  margin-right: 30px;
}
.team__item {
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 368px;
}
.team__description {
  padding: 30px 32px;
}