.logo {
  padding: 24px 0;
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  @include font (26px,700,1.19);
  color: $accent-color;
}
.logo__span--dark {
  color: $primary-black-color;
}
.logo__span--light {
  color: $primary-white-color;
}
